$body-bg:hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$card-border-radius:1rem;

$white:hsl(0, 0%, 100%);
$success:hsl(178, 100%, 50%);
$primary:hsl(215, 51%, 70%);


@import "../node_modules/bootstrap/scss/bootstrap.scss";
